

{% extends 'base.html'%}
{% block content %}


<div style="justify-content: center; display : flex; margin-top: 250px;width:1000;"><img style="border-radius:25px ;width:51%" src= "{{url_for('video')}}"
> </div>
       <a href="http://127.0.0.1:8000/video/list" class="col-lg-5 col-sm-12 m-lg-3 col-md-12 mt-md-2 mt-sm-2 mt-2 col-sm-11 btn py-lg-3 py-md-1 mb-1 mb-sm-1 btn-dark" style="background-color: #30134f;color:aliceblue;border:none;position:relative;left:60px"type="submit">
           الرجوع
                            لصفحة
                            الفيديوهات <i class="fa fa-video"></i></a>
                        </a>
                        <a href="http://127.0.0.1:8000/article/list" class="col-lg-5 col-md-12 col-sm-12 btn py-lg-3 py-md-1 m-lg-3 mt-md-2 mt-sm-2 mt-2 btn-dark mb-1 mb-sm-1"type="submit" style="position:relative;left:60px">الذهاب
                        تعليم الجسد <i class="fa fa-copy"></i></a>
                        </a>



{% endblock %}